@page "/details"

@if(Exam is null)
{
    <div>Loading...</div>
}
else
{    
<div>
    <div>@Exam.Subject</div>
    <div>@Exam.Subheading</div>
</div>
<div class="tiltill-footer">
    <div>
        @Exam.StartDateTime
    </div>
    <div>
        <div>
            <div>
                @Exam.TimeTillStart.Days
            </div>
            <div>
                Days
            </div>
        </div>
        <div>
            <div>
                @Exam.TimeTillStart.Hours
            </div>
            <div>
                Hours
            </div>
        </div>
        <div>
            <div>
                @Exam.TimeTillStart.Minutes
            </div>
            <div>
                Minutes
            </div>
        </div>
        <div>
            <div>
                @Exam.TimeTillStart.Seconds
            </div>
            <div>
                Seconds
            </div>
        </div>
    </div>
</div>
}