@page "/add"
@page "/edit"

<div>
    <EditForm Model="@Exam" OnValidSubmit="HandleOnValidSubmit">
        <DataAnnotationsValidator />
        <MatStringField Label="Title" @bind-Value="@Exam!.Subject"></MatStringField>
        <ValidationMessage For="@(() => Exam.Subject)" />
        <MatStringField Label="Subheading" @bind-Value="@Exam.Subheading"></MatStringField>
        <button type="submit">Hello</button>
    </EditForm>
</div>
<div>
    <div>
        <RadzenDatePicker 
            Inline="true"
            ShowTimeOkButton="false"
            Min="DateTime.Now.Date"
            @bind-Value=@Exam!.StartDateTime
            ShowTime="true"
            ShowSeconds="false"
            DateFormat="MM/dd/yyyy HH:mm" />
         <div>@Exam.StartDateTime</div>
    </div>
    <div>
        <div>
            <div>
                @Exam.TimeTillStart.Days
            </div>
            <div>
                Days
            </div>
        </div>
        <div>
            <div>
                @Exam.TimeTillStart.Hours
            </div>
            <div>
                Hours
            </div>
        </div>
        <div>
            <div>
                @Exam.TimeTillStart.Minutes
            </div>
            <div>
                Minutes
            </div>
        </div>
        <div>
            <div>
                @Exam.TimeTillStart.Seconds
            </div>
            <div>
                Seconds
            </div>
        </div>
    </div>
</div>


@Exam.Colour
<button @onclick="OpenolourDialog">Open</button>

<ColoursComponent @ref="@_colourDialog" @bind-Value="@Exam.Colour" />